* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.martin {
    width: 50%;
    height: 83.5vh;
}

.header-title-background {
    background-color: black;
    width: 50%;
    height: 83.5vh;
}

@media screen and (max-width: 970px) {
    .martin {
       width: 50%;
       
    }
    .header-title-background {
        width: 50%;
       
    }
}

.featured {
    width: 86px;
    height: 4.25vh;
}